################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/repos/TestCRM/TestResults/cd24531d-3ee1-4606-8d28-98806f8fe0de
